.header{
    -fx-background-color: linear-gradient(to right, #1e90ff, #87CEFA);
    -fx-padding: 10;
    -fx-spacing: 15;
}

.img-logo{
    -fx-fit-width: 80;
    -fx-fit-height: 50;
}

.label-username {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.welcome-message {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.balance-container {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 15;
}


.balance-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


.balance-date {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
}


.balance-button {
    -fx-background-color: #1e90ff;
    -fx-background-radius: 15;
    -fx-padding: 10 20;
}

.balance-button:hover {
    -fx-background-color: #1c86ee;
}


.balance-text {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}


.toggle-button {
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 10 15;
    -fx-border-width: 0;
}

.menu-button-active {
    -fx-background-color: #e0f0ff;
    -fx-border-color: #1e90ff;
    -fx-border-width: 0 0 0 5;
    -fx-border-style: solid;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.menu-button:hover {
    -fx-background-color: #e0e0e0;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 2, 2);
}

.menu-item {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
    -fx-padding: 10px 20px;
}

.menu-item:hover {
    -fx-background-color: #e0e0e0;
}

.menu-item:focused {
    -fx-background-color: #87CEFA;
}


/* Estilo do container de saldo */
.balance-container {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 15;
}

/* Título do saldo */
.balance-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Data do saldo */
.balance-date {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
}


.balance-button {
    -fx-background-color: #1e90ff;
    -fx-background-radius: 15;
    -fx-padding: 10 20;
}


.balance-button:hover {
    -fx-background-color: #1c86ee;
}


.balance-text {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}


.toggle-button {
    -fx-background-color: transparent;
}


.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 10 15;
    -fx-border-width: 0;
}


.menu-button-active {
    -fx-background-color: #e0f0ff;
    -fx-border-color: #1e90ff;
    -fx-border-width: 0 0 0 5;
    -fx-border-style: solid;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


.menu-button:hover {
    -fx-background-color: #e0e0e0;
}


.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 2, 2);
}


.menu-item {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-color: transparent;
    -fx-padding: 10px 20px;
}


.menu-item:hover {
    -fx-background-color: #e0e0e0;
}

.menu-item:focused {
    -fx-background-color: #87CEFA;
}

.footer {
    -fx-background-color: linear-gradient(to right, #87cefa, #1e90ff);
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-size: 14px;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}